.add-right {
    width: 500px;
}

.add-column {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 35px;
}

.add-textarea {
    display: flex;
    align-items: center;
    height: 130px;
}

.admin-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px 15px 0 0;
}

.footer-cancel {
    color: grey;
    padding: 5px 10px;
    border-radius: 7px;
    border: rgb(170, 170, 170) 1px solid;
}

.footer-ok {
    padding: 5px 20px;
    border-radius: 7px;
    background-color: blue;
    color: white;

}